body {		
	font-family: 'Ubuntu', sans-serif;
	margin: 0 auto;
	padding: 0;
	color: #384F7D;
	font-size: 14px;
	width: 100%;	
	height: 100%;
	/* width: 375px; */
	/* height: 812px; */
	text-align: center;	
	position: fixed;
	/* left: auto; */
	/* right: auto; */
}

.wrapper, .readBg {
	background: url(../img/main-bg.png) no-repeat center top;
	background-size: cover;	
	position: relative;	
	height: 100%;
	overflow: hidden;
	/* width: 375px; */
	width: 100%;
	margin: 0 auto;		
}

.buyBook {
	background: linear-gradient(147.21deg, #EEECFF -8.91%, #FFFFFF 99.17%);
}

div, p, span, ul, li, a, input, button, form {
	box-sizing: border-box;	
}

h1, h2, h3, h4, h5, h6, p, img, div {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 35px 0 30px 0;
	font-size: 19px;
	color: #fff;
	font-weight: 400;	
	text-transform: capitalize;
}

.header__indicators {
	display: flex;
	justify-content: space-between;
	padding: 14px 20px 0;
}

.header__time {
	color: #fff;
	font: 12px 'Roboto', sans-serif;	
}

.header__battery img {
	height: 10px;
}

input::-webkit-input-placeholder,
input::-webkit-placeholder,
input { 
	color: #384F7D;
	opacity: .65;
	font: 15px 'Ubuntu', sans-serif;
	text-indent: 46px;
}

input {
	height: 48px;
	width: 100%;
	border: none;
	border-radius: 8px;	
	opacity: 1;	
}

input:focus {
	outline: none;
}

.search, .addBook {
	width: 82%;
	margin: 0 auto;
}

.addBook {
	position: absolute;
	bottom: 90px;	
	right: 9%;
}

.search {
	position: relative;
}

.search img {
	position: absolute;
	height: 16px;
	left: 20px;
	top: 15px;
}

.search__book {	
	background: #fff;	
	border-radius: 8px;
	max-height: 150px;
	overflow: auto;
}

.search__find {	
	display: flex;
	align-items: center;
	color: #384F7D;
	opacity: .65;
	font: 15px 'Ubuntu', sans-serif;
	text-indent: 46px;
	height: 50px;		
}

.search__find:hover {
	background: #445984;
	color: #fff;
	border-radius: 8px;
}

.section img {
	margin: 125px 0 20px 0;
}

.section p {
	line-height: 22px;
	opacity: .8;
}

.addBook__btn,
.addFriends {
	background: linear-gradient(166.04deg, #BAFB67 -5.37%, #00D23A 196.64%);	
	border-radius: 8px;
	border: none;
	width: 100%;
	height: 56px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font: 15px 'Ubuntu', sans-serif;
	font-weight: 400;	
	box-shadow: 0 10px 30px #ccc;	
}

.addFriends {
	padding: 20px 95px;
	text-decoration: none;	
}

.addBook__btn:focus,
.addBook__btn:hover {	
	outline: none;
	cursor: pointer;	
}

.addBook__btn:active {	
	box-shadow: none;
}

.menu {
	position: absolute;	
	bottom: 0;
	width: 100%;	
	height: 65px;
	background: #fff;	
	display: flex;
	justify-content: space-between;
	align-items: center;	
	padding: 0 35px;
}

.menu div{ 
	opacity: .45;
}

.menu img {
	height: 20px;	
}

.menu p {
	font-size: 10px;
	line-height: 2em;
	letter-spacing: .15px;
}

.menu a {
	text-decoration: none;
	color: #384F7D;
}

div.menu__active {
	opacity: 1;
}

.bookWrapper {
	padding: 0 9%;
}

.back:hover {
	cursor: pointer;
}

.slick-slide {
  transition: all ease-in-out .3s;     
}

.fa-arrow-left {
	position: absolute;
	left: 36px;
	top: 69px;
	color: #fff;
	font-weight: bold;
}

h2 {
	font-size: 12px;
	line-height: 15px;	
	letter-spacing: 1px;
	text-transform: uppercase;
	text-align: left;
	margin: 30px 9% 20px 9%;
}

.book {	
	height: 147px;
	background: #FFFFFF;
	box-shadow: 4px 12px 25px rgba(71, 55, 255, 0.08);
	border-radius: 8px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	margin-bottom: 15px;
}

.book img {
	height: 110px;	
}

.text {
	width: 62%;
	text-align: left;
	line-height: 18px;
}

.heading, .bookMain_heading {	
	max-height: 46px;
	overflow: hidden;
	margin-bottom: 5px;
}

.author, .bookMain_author {
	height: 55px;
	overflow: hidden;
}

h3 {
	font-size: 18px;
	line-height: 23px;
	font-weight: 500;	
}

.heading h3:hover {
	color: steelblue;
	cursor: pointer;
}

.mainImage img{	
	width: 86px;
}

.bookMain {	
	margin: 0 auto;
	display: flex;	
	width: 82%;
	text-align: left;
}

.bookMain_text {
	margin-top: 70px;
	margin-left: 20px;
}

.bookMain_mainImage img{
	height: 202px;
	width: 130px;
	border-radius: 8px;
}

.bookMain_heading h3 {
	font-size: 20px;
	line-height: 25px;
}

.bookMain_author p {
	font-size: 16px;
	line-height: 20px;	
}

.Main_text {
	width: 82%;
	line-height: 22px;
	margin: 30px auto;
	text-align: left;	
}

.Main_text_text {
	height: 110px;	
	overflow: hidden;
}

.fullSynopsis {
	text-decoration-line: underline;
	font-weight: 500;
	z-index: 10;
	margin: 12px 0 35px 0;
}

.fullSynopsis:hover {
	color: steelblue;
	cursor: pointer;
}

/* .line {
	border-bottom: 1px solid rgba(56, 79, 125, 0.1);
} */

.addBook__btn {
	background: linear-gradient(166.04deg, #e2ffbd -5.37%, #57dd7c 196.64%);
}

.activeBtn {
	background: linear-gradient(166.04deg, #BAFB67 -5.37%, #00D23A 196.64%);
}

.descriptionText {
	line-height: 22px;	
	text-align: left;
	margin: 90px auto;
	overflow: scroll;
	height: 480px;
}

.dispNone {
	display: none;
}

.content {
	padding-top: 70px;
}

.content h1{
	font-size: 32px;
	color: #384F7D;	
	margin: 25px 0 12px 0;
}

.content p {
	opacity: .8;	
	line-height: 22px;	
	width: 80%;	
	margin: 0 auto 50px auto;
}

.readBook {
	width: 82%;
	line-height: 22px;
	margin: 0 auto;
	text-align: left;
	/* height: 740px;	 */
	height: 90%;
	overflow: scroll;	
}

.fa-long-arrow-alt-left {
	color: #fff;
	font-size: 20px;
}

.closeRead {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.recomendation {
	/* margin-top: 110px; */
	position: absolute;	
	bottom: 100px;	
	width: 100%;
}

.recomendation h2{
	text-align: center;
}

.recomendation__books {
	display: flex;
	justify-content: space-between;
	width: 82%;
	margin: 0 auto;
	font-size: 10px;
}

.recomendation__books div{
	width: 95px;
}

.recomendation__books h3 {
	font-size: 12px;
	margin-top: 10px;	
}

.recomendation__books p,
.recomendation__books h3
 {	
	height: 16px;
	overflow: hidden;
	line-height: 16px;
}

.recomendation__books img {
	height: 120px;
	width: 95px;
	border-radius: 8px;
}

@media screen and ( min-width: 768px) {
	.menu {
		padding: 0 20%;
	}
	.addBook__btn {
		width: 50%;
	}
	.text {
		width: 80%;		
	}
	.recomendation {		
		padding: 0 100px;
	}
}

@media screen and ( min-width: 1024px) {
	.text {
		width: 85%;		
	}
	.addBook__btn {
		width: 40%;
	}
	.recomendation {		
		padding: 0 130px;
	}
}

@media screen and ( min-width: 1366px) {
	.text {
		width: 88%;		
	}
	.addBook__btn {
		width: 30%;
	}
	.recomendation {		
		padding: 0 160px;
	}
}

@media screen and ( max-height: 750px) {	
	.descriptionText {		
		height: 400px;
	}	
}

@media screen and ( max-height: 670px) {	
	.content img {
		display: none;
	}	
	.descriptionText {		
		height: 340px;
	}
}

@media screen and ( max-height: 600px) {
	.bookMain_text {
		margin-top: 0;
	}
	.bookMain_mainImage img {
		height: 102px;
		width: 75px;		
	}	
	.text {
		width: 50%;		
	}
	.content {
		padding-top: 0;
	}
	.content img {
		display: none;
	}
	.recomendation__books img {
		height: 100px;
		width: 70px;		
	}	
	.descriptionText {		
		height: 250px;
	}
}




