body {
	font-family: Alear, sans-serif;
	padding: 0;
	margin: 0;
}

#forma {
	width: 700px;
	background: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 6px;
	margin: 20px 300px;		
}

.pos {
	display: flex;
	flex-direction: column;		
	/* align-items: center; */
}

.dialog {	
	margin: 20px;
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 0 10px;
	line-height: 2em;
	width: 300px;	
}

.message {
	color: #FFF;
}

.bgLeft {
	background: brown;
}

.bgRight {
	background: cadetblue;
}

.left {
	align-items: flex-start;
}

.right {
	align-items: flex-end;
}